<!DOCTYPE html>
<html>
<body>

<form action="/submit" method="POST">
  <label for="station">Choose a station:</label>
  <select id="station" name="station">
    <option value="DLF">DLF</option>
    <option value="City">City</option>
  </select>
  
  <label for="video">Choose a video:</label>
  <select id="video" name="video">
    <option value="ex2.mp4">ex2.mp4</option>
    <option value="ex3.mp4">ex3.mp4</option>
  </select>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>