<!DOCTYPE html>
<html lang="en">

<head>
    <title>RAPID</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="container navbar">
            <div class="logo">
                <!-- <img src="Logo.png" alt="RAPID Logo"> -->
                <h1>RAPID</h1>
            </div>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="#" class="hover-links">Information</a></li>
                    <!-- <li><a href="#" class="hover-links">Notifications</a></li> -->
                    <li><a href="#map" class="hover-links">Maps</a></li>
                    <li><a href="#" class="hover-links">About Us</a></li>
                    <li><a href="/login" class="hover-links signin">Sign in</a></li>
                    <li><a href="/register" class="hover-links signup">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container header-section">
            <div class="section1">
                <h1>RESCUE AND ASSISTANCE TO PEOPLE IN IMMEDIATE DISTRESS</h1>
                <h2>The Rescue and Assistance to People in Immediate Distress (RAPID) is a comprehensive digital platform
                    that leverages advanced technologies to provide timely and effective assistance during both man-made
                    and natural disasters.</h2>
                <div class="button">
                    <button><a href="#card_section">Get Started</a></button>
                </div>
            </div>
            <div class="section2">
                <div class="image">
                    <img src="rapid4.png" alt="LOGO">
                </div>
            </div>
        </div>
    </header>

    <section class="container keyfeatures">
        <h1>Key Features</h1>
        <p>Discover the power of RAPID</p>
    </section>

    <section class="container features">
        <div class="info">
            <div class="text">
                <h1>Comprehensive Disaster Information</h1>
                <p>Access real-time and accurate information about disasters and their impact on communities. Stay
                    informed and make informed decisions.</p>
                <div class="button">
                    <button><a href="#" class="learnmore">Learn More</a></button>
                </div>
            </div>

            <div class="img"></div>
        </div>

        <div id="map">
            <div class="text">
                <h1>Interactive Evacuation Maps</h1>
                <p>Visualize evacuation routes and safe zones with interactive maps. Plan and navigate evacuation routes
                    efficiently.</p>
                <div class="button">
                    <button><a href="#" class="learnmore">Learn More</a></button>
                </div>
            </div>

            <div class="img2"></div>
        </div>

        <div class="occupancy">
            <div class="text">
                <h1>Occupancy Tracking with ML</h1>
                <p>Track and manage the occupancy of evacuation centers and shelters using machine learning models.
                    Ensure efficient resource allocation.</p>
                <div class="button">
                    <button><a href="#" class="learnmore">Learn More</a></button>
                </div>
            </div>

            <div class="img3"></div>
        </div>
    </section>

    <section class="container discussion">
        <div class="DiscussionForum text">
            <p>Discussion Forum and SOS Feature</p>
            <h1>Facilitate communication and collaboration among individuals and communities. Seek help, share
                information, and provide support in times of crisis.</h1>
        </div>
        <div id="btn" class="button" style="display: none">
            <p>Join the Community</p>
            <button><a href="#" class="learnmore">Call For Help</a></button>
        </div>
    </section>

    <section class="container">
        <div id="card_section">
            <div class="card card-1">
                <div class="front">
                    <button><a href="/userBomb">Evacuate</a></button>
                </div>
            </div>
            <div class="card card-2">
                <div class="front">
                    <button><a href="med/index.html">Evacuate</a></button>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">
        <footer class="container footer-section">
            <div class="block1">
                <h1>RAPID</h1>
                <h2>Learn More</h2>
                <a href="#">Emergency Management</a>
            </div>
            <div class="about">
                <h2 class="foot">About</h2>
                <ul class="foot-ul">
                    <li><a href="#" class="foot-links">Services</a></li>
                    <li><a href="#" class="foot-links">Terms of Use</a></li>
                    <li><a href="#" class="foot-links">Contact</a></li>
                    <li><a href="#" class="foot-links">Resources</a></li>
                </ul>
            </div>
            <div class="handles">
                <h2 class="foot">Social Media</h2>
                <ul class="foot-ul">
                    <li><a href="#" class="foot-links">Facebook</a></li>
                    <li><a href="#" class="foot-links">Instagram</a></li>
                    <li><a href="#" class="foot-links">Youtube</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2 class="foot">contact Us</h2>
                <ul class="foot-ul">
                    <li><a href="#" class="foot-links">info@RAPID.com</a></li>
                    <li><a href="#" class="foot-links">123-456-7890</a></li>
                </ul>
            </div>
        </footer>
    </div>

</body>
<script src="script.js"></script>

</html>